<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>MSc in Electrical and Computer Engineering</h1>
            <span>Carnegie Mellon University</span>
            <span><address>Pittsburgh, USA</address><time>2014 to 2016</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>MSc in Computer Technology</h1>
            <span>Sun Yat-sen University</span>
            <span><address>Guangzhou, China</address><time>2014 to 2016</time></span>
        </header>
        <p>
            <em>Thesis: Quantification of esophagus imaging with Optical Coherence Tomography</em>
        </p>
    </article>
    <article>
        <header>
            <h1>Major in Software Engineering, Bachelor of Engineering</h1>
            <span>Sun Yat-sen University</span>
            <span><address>Guangzhou, China</address><time>2010 to 2014</time></span>
        </header>
        <p>
            <em>Fast browsing and searching for video content summary technologies and systems</em>
        </p>
    </article>
</section>
