<section class="thirteen columns">
    <h1>Projects -> <a href="http://yu-zhengyu.github.io/projects.html">link</a></h1>
    <article>
    	<header>
			<h1>Resource Scaling Using AWS and Azure</h1>
			<span><address>Carnegie Mellon University</address><time>Feb 2016</time></span>
		</header>
			• Use AWS and Azure cloud APIs to programmatically control resources in response to demand.
			<br/>• Develop solutions that manage cloud resources with the ability to deal with resource failure.
			<br/>• Analyze the trade off between maximizing performance and reliability and the effect on cost.
		<br/>
		<header>
			<h1>Big Data Analysis from Wikipedia</h1>
			<span><address>Carnegie Mellon University</address><time>Jan 2016</time></span>
		</header>
			• Used AWS Elastic Map Reduce(EMR) to do analysis on a 65GB dataset of Wikipedia log.
			<br/>• Implemented code of mapper and reducer, which ran on Hadoop, to do filtering and to aggregate view counts of Wikipedia pages based on result got from EMR.
		<br/>
		<header>
			<h1>Basic Speech Recognition System, In Speech Recognition</h1>
			<span><address>Sun Yet-sen University</address><time>Dec 2014</time></span>
		</header>
			• Implemented a speech recognition system, extracted the MFCC feature from voice.
			<br/>• Used K-means to leaning from dataset and Used DTW and decision tress to search which digit belongs to a specific voice.
			<br/>• Achieved recognize single digits with recognition accuracy rate of 98%, recognize
			continuous digits’ with recognition accuracy rate of 63%.
		<br/>
		<header>
			<h1>Quantification of esophagus imaging with Optical Coherence Tomography</h1>
			<span><address>SYSU-CMU Shunde International Joint Research Institute</address><time>May 2015</time></span>
		</header>
			This is my graduate research thesis, used denosing method and edge detection algorithm to detected the contour of esophagus and computing the area of esophagus base on the contour.
			<br/>• Implemented the denosing method and edge detection algorithm.
			<br/>• Applied the mathematical morphology edge detection and modify it as multi-scale mathematical morphology edge detected algorithm.
			<br/>• Successfully detected the contour of esophagus and computing the area of esophagus base on the contour.
		<br/>
		<header>
			<h1>Cook Boot Camp</h1>
			<span><address>Carnegie Mellon University</address><time>Nov 2015</time></span>
		</header>
			•  This is course project for Java smart phone development. 
			<br/>•  Implemented Web Server by using java socket, which can interact with Android device and MySQL database.
			<br/>•	Used Android Studio develop the Android client. including features: sign in, sign out, upload information, upload image, searching user by GPS.
		<br/>
		<header>
			<h1>Web Crawler using python</h1>
			<span><address>Carnegie Mellon University</address><time>Dec 2015</time></span>
		</header>
			This is a course project for Coding Boot Camp. We developed a topic-specific web crawler that will crawl the web looking for information on a specific topic. 
			<br/>•	Developed a web Crawler using BeautifulSoup tool. Recursively crawled links on a web page using BFS and DFS mode and Stored data in a database. 
			<br/>•	Used command line to control and user can terminate it any time. 
			<br/>•	Developed the project using Agile Methodology.
	
		<br/>
		<header>
			<h1>Game: Shadow Master</h1>
			<span><address>Sun Yet-sen University</address><time>Apr 2013</time></span>
		</header>
			This project is a game project which prepare for Imagine Cup, a game which holded by Microsoft, This project can use webcam simulate the shadow of humnan's hand.
			<br/>•	Developed a PC game Using C#, XNA frame work.
			<br/>•	Implemented human’s hand detector using OpenCV and Skin-color detect algorithm.
			<br/>•	The game could detect human’s hand without any other tools, only used webcam on computer, shown the shape of player’s hand, computed the score. 
		<br/>
		<header>
			<h1>Air Traffic Flow Management</h1>
			<span><address>Carnegie Mellon University</address><time>Jun 2015</time></span>
		</header>
			•	Built a mathematical model: Center-type model to simulate the Air traffic situation. 
			<br/>•	Implemented Genetic Algorithm, Evolutionary Strategy and Evolutionary Programming.
			<br/>•	Ran experiences by using different Algorithms, which mentioned above.
		<br/>
    </adressrticle>
</section>