<section class="thirteen columns">
    <h1>Projects</h1>
    <article>
		<p>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<span><adress="">Big Data Analysis from Wikipedia</adress></span>
			<br/>• Used AWS Elastic Map Reduce(EMR) to do analysis on a 65GB dataset of Wikipedia log.
			<br/>• Implemented code of mapper and reducer, which ran on Hadoop, to do filtering and to aggregate view counts of Wikipedia pages based on result got from EMR.
		</p>
		<p>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<span><adress="">Quantification of esophagus imaging with Optical Coherence Tomography</adress></span>
			<br/>This is my graduate research thesis, used denosing method and edge detection algorithm to detected the contour of esophagus and computing the area of esophagus base on the contour.
			<br/>• Implemented the denosing method and edge detection algorithm.
			<br/>• Applied the mathematical morphology edge detection and modify it as multi-scale mathematical morphology edge detected algorithm.
			<br/>• Successfully detected the contour of esophagus and computing the area of esophagus base on the contour.
		</p>
		<p>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<span><adress="https://github.com/yu-zhengyu/CookBootCamp_Android_FinalPro">Cook Boot Camp</adress></span>
			<br/>•  This is course project for Java smart phone development. 
			<br/>•  Implemented Web Server by using java socket, which can interact with Android device and MySQL database.
			<br/>•	Used Android Studio develop the Android client. including features: sign in, sign out, upload information, upload image, searching user by GPS.
		</p>
		<p>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<span><adress="https://github.com/yu-zhengyu/Web-Crawler-python">Web Crawler using python</adress></span>
			<br/>This is a course project for Coding Boot Camp. We developed a topic-specific web crawler that will crawl the web looking for information on a specific topic. 
			<br/>•	Developed a web Crawler using BeautifulSoup tool. Recursively crawled links on a web page using BFS and DFS mode and Stored data in a database. 
			<br/>•	Used command line to control and user can terminate it any time. 
			<br/>•	Developed the project using Agile Methodology.
	
		</p>
		<p>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<span><adress="https://github.com/yu-zhengyu/ShadowMaster">Game: Shadow Master</adress></span>
			<br/>This project is a game project which prepare for Imagine Cup, a game which holded by Microsoft, This project can use webcam simulate the shadow of humnan's hand.
			<br/>•	Developed a PC game Using C#, XNA frame work.
			<br/>•	Implemented human’s hand detector using OpenCV and Skin-color detect algorithm.
			<br/>•	The game could detect human’s hand without any other tools, only used webcam on computer, shown the shape of player’s hand, computed the score. 
		</p>
		<p>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<span><adress="https://github.com/yu-zhengyu/adressirflow_management-master">Air Traffic Flow Management</adress></span>
			<br/>•	Built a mathematical model: Center-type model to simulate the Air traffic situation. 
			<br/>•	Implemented Genetic Algorithm, Evolutionary Strategy and Evolutionary Programming.
			<br/>•	Ran experiences by using different Algorithms, which mentioned above.
		</p>
    </adressrticle>
</section>